<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs" />
  <variable name="fileName" value="logger-${shortdate}" />
  <variable name="errorFileName" value="error-${shortdate}" />
  <variable name="commonLayout" value="${time} (${threadid}): ${message} ${onexception:${newline}${exception:innerFormat=message,stacktrace,tostring:maxInnerExceptionLevel=5:format=message,stacktrace, tostring}" />
  <targets>
    <target name="file" xsi:type="File" fileName="${logDirectory}\${fileName}.txt" layout="${commonLayout}" deleteOldFileOnStartup="true" archiveFileName="archives\\log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="3" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
    <target name="errorFile" xsi:type="File" fileName="${logDirectory}\${errorFileName}.txt" layout="${commonLayout}" deleteOldFileOnStartup="true" archiveFileName="archives\\Errors\\error.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="3" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
    <!--<target name="TcpOutlet" xsi:type="NLogViewer" address="tcp4://127.0.0.1:4505"/>-->
    <!--<target name="debugger" xsi:type="Debugger" layout="${commonLayout}" />-->
    <!--<target name="console" xsi:type="Console" layout="${commonLayout}" />-->
    <target xsi:type="ColoredConsole"
           name="console"           
           layout="${commonLayout}"
           useDefaultRowHighlightingRules="true">
      <!--<highlight-row backgroundColor="NoChange" condition="level == LogLevel.Fatal" foregroundColor="Red"/>
      <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="Yellow"/>
      <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Warn" foregroundColor="Magenta"/>
      <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="White"/>
      <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Debug" foregroundColor="Gray"/>
      <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>-->
      <!-- repeated -->
      <!--<highlight-word backgroundColor="Enum" foregroundColor="Enum" ignoreCase="Boolean" regex="String" text="String" wholeWords="Boolean" compileRegex="Boolean"/>-->
      <!-- repeated -->
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
    <!--<logger name="*" minlevel="Trace" writeTo="debugger" />-->
    <!--<logger name="*" minLevel="Trace" writeTo="TcpOutlet"/>-->
  </rules>
</nlog>
